{% extends "base.html" %}
{% block content %}
    <html>
    <div class="gall">
        {% for gal in galeries %}
            <a href="{% url 'galeri_view' %}{{ gal.photo_type.type_photo }}">
                <div class="gall1">
                    <div>{{ gal.photo_type.name }}</div>
                    <img  alt="{{ gal.photo_type.name }}" src="{{ gal.photo.url }}">
                </div>
            </a>
        {% endfor %}
        <div style="clear: both"></div>
    </div>
    </html>
{% endblock %}